{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}

<div style="max-height:682px;overflow:hidden;">
<div style="position:relative;width:100%;height:0;padding-bottom:66%;margin-left:auto;margin-right:auto;max-width:1024px;max-height:682px;">
<iframe style="max-width:100%;max-height:682px;left:0;top:0;" width="1024" height="682" src="/static/banner.html" frameborder="no" scrolling="no"></iframe>
</div>
</div>

<div class="content_page">
  <div>

<div class="home_top">
  <div class="home_top_box home_top_box_headline">
    Join us on <span style="white-space:nowrap;"><b>April 15, 2016</b></span> at MIT.
  </div>
<!--  <div class="home_top_box_register">
    <div class="clickable" onclick="window.location.href='/register';"><a style="border:0;padding:0;margin:0;" href="/register"><img src="/static/images/2015-register.png" style="width:200px;" alt="Register Now"></a></div>
  </div> -->
</div>

<div>
The MIT Sustainability Summit is a student-led event that takes place every year during Earth Week on the MIT campus, drawing more than 350 attendees ranging from professionals to academics and students. The summit has emerged as a premier issue-driven event, featuring discussions with thought leaders and expert practitioners. The 2016 Sustainability Summit will focus on three key themes: disruptive product design and materials sourcing, transformative business models, and innovative new pipelines. Please stay tuned for more information about the speakers and the program.

</div>
<br>

<div class="home_bottom" style="display:table;table-layout:fixed;margin-top:30px;width:100%;height:200px;border-spacing:10px;border:none;">

  <div class="home_bottom_box">
    <h3 style="color:#808080;padding:0;margin-top:0;margin-bottom:20px;">Follow us</h3>
Keep up to date on your favorite social media.
    <div style="margin-top:15px;">
      <div style="display:inline-block;margin-right:10px;" class="clickable"><a href="https://www.facebook.com/mitsustainabilitysummit" style="border:0;margin:0;padding:0;"><img src="/static/images/icon_facebook.png" style="padding:0;margin:0;"></a></div>
      <div style="display:inline-block;margin-right:10px;" class="clickable"><a href="http://twitter.com/MIT_S_Summit" style="border:0;margin:0;padding:0;"><img src="/static/images/icon_twitter.png"></a></div>
      <div style="display:inline-block;margin-right:10px;" class="clickable"><a href="http://www.linkedin.com/groups?gid=4863732&trk=hb_side_g" style="border:0;margin:0;padding:0;"><img src="/static/images/icon_linkedin.png"></a></div>
    </div>
  </div>

  <div class="home_bottom_box">
    <h3 style="color:#808080;padding:0;margin-top:0;margin-bottom:20px;">Stay tuned</h3>
Sign up on our e-mail list to hear more about this year's speakers and future Summit events.
<form action="http://mit.us3.list-manage.com/subscribe/post?u=bb87d2b10f4594f76017af256&amp;id=d36dcbb3bd" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
<div style="position: absolute; left: -5000px;"><input type="text" name="b_bb87d2b10f4594f76017af256_d36dcbb3bd" value=""></div>
<input id="mce-EMAIL" type="email" name="EMAIL" placeholder="your@email.com" style="margin-top:15px;width:200px;font-size:16px;height:25px;border:1px solid #c0c0c0;padding:3px;background:#ffffff;color:#303030;" required>
<input class="clickable" type="submit" value="Subscribe &raquo;" style="width:100px;height:31px;font-size:12px;background:#0080cc;color:#ffffff;border:0px;padding:4px;margin-top:10px;" id="mc-embedded-subscribe">
<br>
<div style="font-size:14px;line-height:1.5em;margin-top:15px;">We won't distribute your e-mail address. This is a low-volume e-mail list and you can unsubscribe yourself at any time.</div>
</form>

  </div>
  <div class="home_bottom_box">
    <h3 style="color:#808080;padding:0;margin-top:0;margin-bottom:20px;">Get in touch</h3>
Got a question or comment? Do you have someone in mind that you'd like to see speak at the Summit? Or is your institution interested in being a sponsor? We'd like to know more! Send us an e-mail at <b>sustainabilitysummit at mit dot edu</b>.
  </div>

</div>

</div>
</div>
{% endblock %}
