{% extends "page.html" %}
{%- block title -%}{{ title }}{%- endblock -%}
{%- block subcontent -%}

<div class="program_mobile">
  {%- set timeslot_last = 0 -%}
  {%- for timeslot in timeslot_list -%}
    {%- if timeslot_last==0 or timeslot.time_start.strftime("%Y%m%d")!=timeslot_last.time_start.strftime("%Y%m%d") -%}
      <div class="program_row">
        <div class="program_date">
          {{- timeslot.time_start.strftime("<b>%A</b> %e %B %Y")|safe -}}
        </div>
      </div>
    {%- endif %}
    {%- set timeslot_last = timeslot -%}
    {%- for session in timeslot.session -%}
      {%- if (session.description and session.description.strip() != "") or session.person.__len__()>0 -%}
        <div class="clickable program_mobile_row_clickable" onclick="$(this).next('.program_mobile_session_description').slideToggle();$(this).children('.program_mobile_icon').toggleClass('program_mobile_icon_off program_mobile_icon_on')">
          <div class="program_mobile_icon program_mobile_icon_off"></div>
          <div class="program_mobile_time">
            {{- timeslot.time_start.strftime("%H:%M") -}}
          </div>
          <div class="program_mobile_session">
            {{- session.name -}}
          </div>
        </div>
      {%- else -%}
        <div class="program_mobile_row">
          <div class="program_mobile_icon"></div>
          <div class="program_mobile_time">
            {{- timeslot.time_start.strftime("%H:%M") -}}
          </div>
          <div class="program_mobile_session">
            {{- session.name -}}
          </div>
        </div>
      {%- endif -%}
      {%- if (session.description and session.description.strip() != "") or session.person.__len__()>0 -%}
        <div class="program_mobile_session_description">
          {{- session.description|bbcode|safe -}} 
          {% for person in session.person %}
            <div class="clickable program_mobile_session_person" onclick="$(this).next('.program_mobile_session_person_description').slideToggle();">
              <div class="program_mobile_session_person_picture">
                <img src="{{ person.get_picture_url(size='60x60') }}">
              </div>
              <b>{{- person.firstname }} {{ person.lastname -}}</b><br>
              {{- person.title }}, {{ person.org -}}
            </div>
            <div class="program_mobile_session_person_description">
              {%- if(person.description) -%}
                {{- person.description|bbcode|safe -}}
              {%- endif -%}
            </div>
          {%- endfor -%}
        </div>
      {%- endif -%}
    {%- endfor -%}
  {%- endfor -%}
</div>

<div class="program">
  {%- set timeslot_last = 0 -%}
  {%- for timeslot in timeslot_list -%}
    {%- if(timeslot_last==0 or timeslot.time_start.strftime("%Y%m%d")!=timeslot_last.time_start.strftime("%Y%m%d")) -%}
      <div class="program_row">
        <div class="program_date">
          {{- timeslot.time_start.strftime("<b>%A</b> %e %B %Y")|safe -}}
        </div>
      </div>
      {%- set timeslot_last = timeslot -%}
    {%- else -%}
      <div class="program_row">
        <div class="program_time">
          {{- timeslot.time_start.strftime("%H:%M") -}}
        </div>
        <div class="program_timeslot">
          {%- for session in timeslot.session -%}
            {%- if (session.description and session.description.strip() != "") or session.person.__len__()>0 -%}
              <div class="clickable program_session" onclick="window.location.href='#{{ session.name|slugify }}'">
                <span style="font-size:12px;"><a href="#{{ session.name|slugify }}">READ MORE &raquo;</a></span>
                <div class="program_session_name">{{ session.name }}</div>
              </div>
            {%- else -%}
              <div class="program_session">
                <div class="program_session_name">{{ session.name }}</div>
              </div>
            {%- endif -%}
          {%- endfor -%}
        </div>
      </div>
    {%- endif -%}
  {%- endfor -%}
</div>

<br><br>

<h2>Session descriptions</h2><br>

{%- for timeslot in timeslot_list -%}
  {%- for session in timeslot.session -%}
    {%- if(session.description and session.description.strip() != "") or session.person.__len__()>0 -%}
      <a name="{{ session.name|slugify }}"></a>
      <div class="clickable program_backtotop" onclick="window.location.href='#'"></div>
      <h3 style="padding-left:15px;border-left:15px solid #b0c0b0;">{{ session.name }}</h3>
      {{- session.description|bbcode|safe -}}
      {%- for person in session.person -%}
        <div class="program_person">
          <div class="program_person_cell">
            <img src="{{ person.get_picture_url(size='120x120') }}">
          </div>
          <div class="program_person_cell">
            <div class="program_person_name">
              {{- person.firstname }} {{ person.lastname -}}
            </div>
            <div class="program_person_titleorg">
              {{- person.title.upper() }}, {{ person.org -}}<br>
              {%- if(person.description) -%}
                <div class="program_readdescription clickable" onclick="$(this).next('.program_person_description').slideToggle()"></div>
                <div class="program_person_description">
                  {{- person.description|bbcode|safe -}}
                </div>
              {%- endif -%}
            </div>
          </div>
          <br><br>
        </div>
      {%- endfor -%}
    {%- endif -%}
  {%- endfor -%}
{%- endfor -%}

{%- endblock -%}
