{% extends "page.html" %}
{% block title %}{{ title }}{% endblock %}
{% block subcontent %}

  <div style="margin-top:20px;">
    We are still confirming sponsors for 2015. If you are interested in learning more about becoming a sponsor, please contact our Sponsorship Team at <b>summit-sponsorship at mit dot edu</b>. Thanks!
  </div>

  {% for sponsorship in sponsorship_list %}
    <h2>{{ sponsorship.name }}</h2>
    {% for sponsor in sponsorship.sponsor %}
      {% if sponsorship.priority==0 %}
      <div class="sponsor sponsor_big clickable" onclick="var w=window.open('{{ sponsor.url }}','_blank');w.focus();">
        {% if sponsor.get_logo_raster_url() %}
          <img alt="{{ sponsor.name }}" style="width:290px;height:165px;" src="{{ sponsor.get_logo_raster_url('580x330') }}">
        {% else %}
          <div style="margin-top:38px;">{{ sponsor.name }}</div>
        {% endif %}
      </div> 
      {% else %}
      <div class="sponsor sponsor_small clickable" onclick="var w=window.open('{{ sponsor.url }}','_blank');w.focus();">
        {% if sponsor.get_logo_raster_url() %}
          <img alt="{{ sponsor.name }}" style="width:210px;height:110px;" src="{{ sponsor.get_logo_raster_url() }}">
        {% else %}
          <div style="margin-top:38px;">{{ sponsor.name }}</div>
        {% endif %}
      </div> 
      {% endif %}
    {% endfor %}
  {% endfor %}
{% endblock %}
