{% extends "page.html" %}
{% block title %}{{ title }}{% endblock %}
{% block subcontent %}
  {% for team in team_list %}
    <h2>{{ team.name }}</h2>
    {% for person in team.person %}
      <div class="team_person">
      <div class="team_person_picture"><img src="{{ person.get_picture_url(size='120x120') }}"></div>
      <div class="program_person_cell">
      <div class="program_person_name">{{ person.firstname }} {{ person.lastname }}</div>
      {% if not team.name %}
        <div class="program_person_titleorg">{{ person.title }} </div>
      {% endif %}
      {% if person.description %}
        <div class="team_person_description">{{ person.description }}</div>
      {% endif %}
      </div>
      </div>

      <div class="team_mobile_person clickable" onclick="$(this).next(\'.team_mobile_person_description_wrapper\').slideToggle()">
      <div class="team_mobile_person_picture"><img src="{{ person.get_picture_url(size='120x120') }}"></div>
      <div class="team_mobile_person_cell">
      <div class="program_person_name">{{ person.firstname }} {{ person.lastname }}</div>
      {% if not team.name %}
        <div class="program_person_titleorg">{{ person.title }}</div>
      {% endif %}
      </div>
      </div>
      {% if person.description %}
        <div class="team_mobile_person_description_wrapper">
          <div class="team_mobile_person_description">{{ person.description }}</div>
        </div>
      {% endif %}
      <br><br>
    {% endfor %}
  {% endfor %}
{% endblock %}
