<!doctype html>
<html lang="en">

<head>
  {% block head %}
  <meta http-equiv="Content-type" content="text/html;charset=utf-8">
  <link rel="stylesheet" href="/static/css/main.css">
  <link rel="stylesheet" href="/static/css/swipebox.css">
  <script type="text/javascript" src="/js/jquery-2.0.3.min.js"></script>
  <script type="text/javascript" src="/js/jquery.swipebox.js"></script>
  <script type="text/javascript" src="/js/main.js"></script>
  <link rel="image_src" href="/images/logo_1000.png">
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  <meta name="viewport" content="width=990">
  <title>{% block title %}{% endblock %} | MIT Sustainability Summit</title>
  {% endblock %}
</head>

<body>
  <div align="center" style="background:#f0f0f0 url(/static/images/topbg.png);border-bottom:2px solid #c0c0c0;-webkit-box-sahadow:0px 4px 12px #a0a0a0;-moz-box-shadow:0px 4px 12px #a0a0a0;-ms-box-shadow:0px 4px 12px #a0a0a0;box-sahadow:0px 4px 12px #a0a0a0;">
    <div align="left" style="width:980px;padding:0px;border-lft:0px solid #808080;border-right:0px solid #808080;border-bottom:0px;">
      <div style="position:absolute;padding-top:25px;padding-bottom:25px;z-index:100;background:url(images/blank.gif);width:400px;height:65px;-moz-user-select:none;-webkit-user-select:none;"></div>
      <div style="padding-right:30px;vertical-align:middle;display:inline-block;padding-top:25px;padding-bottom:25px;"><object data="/static/images/logo_web.svg" width="300" height="49" type="image/svg+xml"><img src="/static/images/logo_web.png" width="300" height="49"></object></div><div class="navbar_separator"></div><div class="navbar_item">register</div><div class="navbar_separator"></div><div class="navbar_item">about</div><div class="navbar_separator"></div><div class="navbar_item">venue</div><div class="navbar_separator"></div><div class="navbar_item">program</div><div class="navbar_separator"></div><div class="navbar_item">photos</div><div class="navbar_separator"></div><div class="navbar_item">sponsors</div><div class="navbar_separator"></div><div class="navbar_item">team</div>
    </div>
  </div>
  <div></div>

  <div id="content">{% block content %}{% endblock %}</div>
  <div id="footer">
    <div align="center">
      <div align="left" style="width:1000px;padding:0px;border-lft:0px solid #808080;border-right:0px solid #808080;border-bottom:0px;">
        {% block footer %}
        &copy; Copyright 2014 MIT. All rights reserved. Questions, comments, or suggestions? Please contact us at <b>sustainabilitysummit at mit dot edu</b>.
        {% endblock %}
      </div>
    </div>
  </div>
</body>
